rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /quizScores/{document=**} {
      allow write: if request.resource.data.keys().hasAll(['score','difficulty','timestamp','country']) 
                   && request.resource.data.score is number 
                   && request.resource.data.score >= 0 
                   && request.resource.data.score <= 100;
      allow read: if false;
    }
  }
}
